section {
  margin: 0;
  padding: 0;
}

/*
 * main content
*/

.content-grid {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-rows: 1fr 3fr;
  background-color: #fff;
  color: #444;
}

.header {
  background-color: #f8cb00;
  display: grid;
  height: 166px;
  grid-template-columns: 1fr 3fr;
  max-width: 100vw;
}

.product-container {
  /*
  background-color: tan;
*/
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar-filters {
  background: #fff;
  padding-left: 80px;
}

.store-title {
  padding-left: 80px;
  padding-top: 50px;
  word-wrap: break-word;
}

.search {
  padding: 59px 0 56px 0;
}

.search-icon {
  height: 25px;
  width: 25px;
}

.search-form {
  height: 51px;
  width: 661px;
  border-radius: 4px;
  font-size: 15px;
  color: rgba(123, 123, 123, 0.78);
  letter-spacing: 0;
  line-height: 31px;
  text-align: left;
}

h1 {
  font-family: SourceSansPro-Black;
  font-size: 36px;
  color: #fff;
  letter-spacing: 0;
  line-height: 33px;
  text-align: left;
  padding: 0;
  margin: 0;
}

/*
 * Products List
 */

.product-grid {
  margin-right: 50px;
  margin-bottom: 50px;
}

.product-list {
  max-width: 75vw;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
  border-radius: 4px;
  width: 191px;
  height: 352px;
  margin: 0 28px 28px 0;
}

/*
 * Product Detail Modal
*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background: #fff;
  box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.3);
  border-radius: 4px;
  width: 80%;
  max-width: 860px;
  min-height: 300px;
  margin: 0 25px;
}
